<a href="https://colab.research.google.com/github/abdullah-621/ML_with_Python/blob/main/Prblm_1_to_40.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Mysum:
  def __init__(self, l):
    self.l = l

  def __str__(self):
    return f"Sum of the list is : {sum(self.l)}"

a = Mysum([1,2,3,4,5])
print(a)

Sum of the list is : 15

In [ ]:
from functools import reduce

class Mymult:
  def __init__(self, l):
    self.l = l

  def __str__(self):
    return f"Multi of the list is : {reduce(lambda x,y : x * y , self.l)}"

a = Mymult([1,2,3,4,5])
print(a)

Multi of the list is : 120

In [ ]:
class Largest:
  def __init__(self, l):
    self.l = l

  def __str__(self):

    a = self.l[0]

    for i in self.l:
      if a < i:
        a = i

    return f"Largest number of the list is : {a}"

a = Largest([1,2,3,4,5])
print(a)

Largest number of the list is : 5

In [ ]:
class Smallest:
  def __init__(self, l):
    self.l = l

  def __str__(self):

    a = self.l[0]

    for i in self.l:
      if a > i:
        a = i

    return f"Smallest number of the list is : {a}"

a = Smallest([1,2,3,4,5])
print(a)

Smallest number of the list is : 1

In [ ]:
class string:
  def __init__(self, s):
    self.s = s

  def __str__(self):
    n = 0

    for word in self.s:
      if (len(word) >= 2) and (word[0] == word[-1]):
        n += 1

    return f"{n}"

s = string(['abc', 'xyz', 'aba', '1221'])
print(s)

2

In [ ]:
class sorting:
  def __init__(self, l):
    self.l = l

  def last(self, sub):
    return sub[-1]

  def sorted_list(self):
    return sorted(self.l, key = self.last)

s = sorting([(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)])
s.sorted_list()

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [ ]:
class sorting:
  def __init__(self, l):
    self.l = l

  def sorted_list(self):
    return sorted(self.l, key = lambda x : x[-1])

s = sorting([(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)])
s.sorted_list()

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [ ]:
# 7

class rem_dup:
  def __init__(self, l):
    self.l = l

  def __str__(self):
    return f"Unique ele : {list(set(self.l))}"

r = rem_dup([1,2,1,3,4,2,5,6,7])
print(r)
# r.remove_duplicate()

Unique ele : [1, 2, 3, 4, 5, 6, 7]

In [ ]:
# 8
class empty:
  def __init__(self, l):
    self.l = l

  def __str__(self):
    if len(self.l) > 0:
      return f"Not Empty"
    else:
      return "Empty"

e = empty([3])
print(e)

Not Empty

In [ ]:
# 9

class copy:
  def init(self, l):
    self.l = l

  def copy_l(self):
    return self.l.copy() * 4

c = copy()
c.init([1,2,3,4,5])
print(c.copy_l())

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
# 10
class find:
  def __init__(self, l, n):
    self.l = l
    self.n = n

  def find_word(self):
    a = []
    for word in self.l:
      if len(word) > self.n:
        a.append(word)

    return a


f = find(['masum', 'noman','shafi','kalami'], 5)
f.find_word()

['kalami']

In [ ]:
# 11
class common:
  def __init__(self, l1, l2):
    self.l1 = l1
    self.l2 = l2

  def find_common(self):
    for i in self.l1:
      if i in self.l2:
        return True
    else:
      return False

c = common([1,2,3,4,53],[5,6,7,8,9])
c.find_common()

False

In [ ]:
# 14
class remove_even:
  def __init__(self, l):
    self.l = l

  def remove(self):
    for i in range(0, len(self.l)):
      self.l = [i for i in self.l if i % 2 != 0]
    return self.l

r = remove_even([1,2,3,4,5,6,7,8])
r.remove()

[1, 3, 5, 7]

In [ ]:
# 19
class difference:
  def __init__(self, l1, l2):
    self.l1 = l1
    self.l2 = l2

  def diff(self):
    d1 =  list(set(self.l1) - set(self.l2))
    d2 =  list(set(self.l2) - set(self.l1))

    return d1 + d2

d = difference([1,2,3,4,5],[4,5,6,7,8])
d.diff()

[1, 2, 3, 8, 6, 7]

In [3]:
class convert:
  def __init__(self,l):
    self.l = l

  def __str__(self):
    return "".join(self.l)

c = convert(['M','a','s','u','m'])
print(c)

Masum

In [6]:
# 24

class prblm:
  def __init__(self, l1,l2):
    self.l1 = l1
    self.l2 = l2

  def append_list(self):
    self.l1.extend(self.l2)
    return self.l1

p = prblm([1,2,3],[4,5,6])
p.append_list()

[1, 2, 3, 4, 5, 6]

In [8]:
# 26

class prblm:
  def __init__(self, l1, l2):
    self.l1 = l1
    self.l2 = l2

  def isIdentical(self):
    return "".join(map(str, self.l1)) in "".join(map(str, self.l2)) * 2


p = prblm([10, 10, 0, 0, 10], [1, 10, 10, 0, 0])
p.isIdentical()

False

In [13]:
# 30

class prblm:
  def __init__(self, l):
    self.l = l

  def freq(self):
    d = {}

    for i in self.l:
      if i in d:
        d[i] += 1
      else:
        d[i] = 1
    return d

p = prblm([1,2,3,4,3,5,6,3,5,7])
p.freq()

{1: 1, 2: 1, 3: 3, 4: 1, 5: 2, 6: 1, 7: 1}

In [18]:
# 33
class prblm:
  def __init__(self, l):
    self.l = l

  def sub_list(self):
    ans = []

    for i in range(0, len(self.l)):
      for j in range(i + 1, len(self.l) + 1):
        ans.append(self.l[i:j])
    return ans

p = prblm([1,2,3,4,5])
p.sub_list()

[[1],
 [1, 2],
 [1, 2, 3],
 [1, 2, 3, 4],
 [1, 2, 3, 4, 5],
 [2],
 [2, 3],
 [2, 3, 4],
 [2, 3, 4, 5],
 [3],
 [3, 4],
 [3, 4, 5],
 [4],
 [4, 5],
 [5]]

In [21]:
# 35
class prblm:
  def __init__(self, l, n) -> None:
    self.l = l
    self.n = n

  def concate(self):
    ans = []
    for i in range(1, self.n + 1):
      for j in self.l:
        ans.append(j + str(i))
    return ans

p = prblm(['p', 'q'], 5)
p.concate()

['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

In [23]:
# 37

class prblm:
  def __init__(self, l1 ,l2) -> None:
    self.l1 = l1
    self.l2 = l2

  def __str__(self) -> str:
    return f"common element : {list(set(self.l1) & set(self.l2))}"

p = prblm([1,2,3,4,5], [4,5,6,7,8])
print(p)

common element : [4, 5]

In [29]:
# 39
class prblm:
  def __init__(self, l):
    self.l = l

  def __str__(self) -> str:
    return f"{int(''.join(map(str, self.l)))}"

p = prblm([11,33,40])
print(p)

113340

In [31]:
class prblm:
  def __init__(self, l) -> None:
    self.l = l

  def spilt_list(self):
    d = {}
    for word in self.l:
      f = word[0]
      if f not in d:
        d[f] = []
      d[f].append(word)
    return d

p = prblm(['apple', 'banana', 'apricot', 'blueberry', 'cherry', 'avocado'])
p.spilt_list()

{'a': ['apple', 'apricot', 'avocado'],
 'b': ['banana', 'blueberry'],
 'c': ['cherry']}